USE [master]
GO
/****** Object:  Database [Caffe]    Script Date: 2024-04-26 오후 1:58:31 ******/
CREATE DATABASE [Caffe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Caffe', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caffe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Caffe_log', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\Caffe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Caffe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Caffe]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 2024-04-26 오후 1:58:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[MenuIdx] [int] IDENTITY(1,1) NOT NULL,
	[SalesIdx] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[MenuIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesPrice]    Script Date: 2024-04-26 오후 1:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesPrice](
	[SalesIdx] [int] IDENTITY(1,1) NOT NULL,
	[TotalSales] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_SalesPrice] PRIMARY KEY CLUSTERED 
(
	[SalesIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_SalesPrice] FOREIGN KEY([SalesIdx])
REFERENCES [dbo].[salesPrice] ([SalesIdx])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_SalesPrice]
GO
USE [master]
GO
